body {
  font-family: 'Gugi', cursive;
  margin: 1% 4%;
  padding: 2%;
  background-image: url("images/background.jpg");
  
}
 
.nav ul {
  border-radius: 10px;

  box-shadow: 10px 5px 10px  5px  black;
  
  list-style: none;
  background-color: #424242;
  text-align: center;
  padding: 0;
  
  margin-left: 30%;

}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  width: 50px;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;

}
 
.nav a:hover, a:active
{
text-decoration: none;
background-color: orange;

}
.active, a.active
{
color:green;
}

 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {/*for mobile responsive*/
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
   
}
.aa{
  display: flex;
  flex-direction: row;



}
.box1{/*these are properties of box 1*/
   opacity:0.8;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
    width:100%;
    height: 600px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 10px 5px 10px  5px #CEE3F6 ;
}
.box2{/*these are properties of box 2*/
  padding-left: 10px;
   margin-left: 5px;
   margin-top: 10px;
   width:33%;
    height: 580px;
    background-color:black;
    border-radius: 10px;
    font-size: 32px;
    text-align: justify;
    color: white;
    font-family: 'Comfortaa', cursive;
  }
  img{
   width:100%;
    height: 100%; 
    border-radius: 10px;

  }
  .box3{/*these are properties of box 3*/
    animation: anime 15s infinite;
    

    margin-top: 10px;
   margin-left: 20px;

   width:25%;
    height: 580px;
    background-color:black;
    border-radius: 10px;
    font-size: 80px;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    color: white;



      
}
@keyframes anime{
  from{font-size: 50px;}
  to{font-size: 80px;}
}
.flex1{/*these are properties of flex1*/
 display: flex;
  flex-direction: row; 
}
.box4{/*these are properties of box 4*/
  background-color: black;
  width: 40%;
  height: 580px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 40px;
    text-align: left;
   font-family: 'Comfortaa', cursive;
    color: white;
}
.box5{/*these are properties of box 5*/
  background-color: white;
  width: 100%;
  height: 250px;
  margin-top: 30px;
  
  border-radius: 10px;
  font-size: 70px;
    text-align: left;
   font-family: 'Comfortaa', cursive;
    color:black;
}
.box6{/*these are properties of box 6*/
 
  width: 100%;
  
  margin-top:10px;
  

  font-size: 40px;
    text-align: left;
   font-family: 'Comfortaa', cursive;
    color:white;
}

.flex2{/*these are properties of flex2*/
 display: flex;
  flex-direction: column; 


}
.box7{/*these are properties of box 7*/
  background-color: black;

  width: 65%;
  height: 580px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 40px;
    text-align: left;
   font-family: 'Comfortaa', cursive;
    color: white;
}
.box8{/*these are properties of box 8*/
   opacity:0.8;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
    width:100%;
    height: 760px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 10px 5px 10px  5px #CEE3F6 ;
}
.box9{/*these are properties of box 9*/
    margin-left: 20px;
    margin-top: 10px;
    width:70%;
    height: 740px;
   
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    text-align: left;
    color: white;
   }

.box10{/*these are properties of box 10*/

    margin-left: 20px;
    margin-top: 10px;
    width:25%;
    height: 740px;
    background-color:white;
    border-radius: 10px;
    
    
  

}
.box11{/*these are properties of box 11*/
    background-color: white;
    width: 100%;
    height: 150px;
    
  
    border-radius: 10px;
    font-size: 30px;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    color:black; 
}
.box12{/*these are properties of box 12*/
 background-color: black;
    width: 17%;
    height: 150px;
    
  
   
    
}
.box13{/*these are properties of box 14*/
    background-color: black;
    width: 83%;
    height: 150px;
    font-size: 25px;
    text-align: right;
    font-family: 'Comfortaa', cursive;
    color:white; 
  
}
.box14{/*these are properties of box 14*/
  margin-top: 10px;
    background-color: red;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 260px;
    border-radius: 50%;
}
.box15{/*these are properties of box 15*/
    background-color: white;
    margin-top: 0px;
    border-radius: 10px;
    width: 100%;
    height: 470px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: black;
}
.box16{/*these are properties of box 16*/
    
    background-color:black;
    margin: 10px 10px;
    border-radius: 10px;
    width: 99%;
    height: 350px;
    font-family: 'Comfortaa', cursive;
    text-align: right;
    color: black;

}
.box17{/*these are properties of box 17*/
    background-color: black;
    
    border-radius: 10px;
    width: 23%;
    height: 350px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: black;


}
.box18{/*these are properties of box 18*/
  background-color:black ;
  opacity: 0.7;
  border-radius: 10px;
  width:100%;
  height: 350px;
  font-family: 'Comfortaa', cursive;
  text-align: left;
  font-size: 40px;
  color: white;
  margin-left: 20px;
  padding-left: 10px;
}
.box19{/*these are properties of box 19*/

  opacity:0.8;
  background-color: black;
       margin: 10px 10px;
    border-radius: 10px;
    width: 98%;
    height: 200px;
    
    text-align: left;
   text-decoration: none;
    font-size: 120px;
    padding-left: 20px;
    letter-spacing: 250px;

}
.box20{/*these are properties of box 20*/
 background-color: black;
    
    border-radius: 10px;
    width: 40%;
    height: 600px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: black;
 
}
.box21{/*these are properties of box 21*/
   background-color:black;
  opacity: 0.7;
  
  width:100%;
  height: 600px;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 15px;
  color: white;
  margin-left: 30px;
  margin-right: 0px;
  padding-left: 5px;
}
.box21 input[type="text"]{/*these are properties of form in contact*/
 width: 500px;
 height:35px;
 margin-top: 20px;
 padding-left: 10px;
 border-radius: 5px;

}
.box21 input[type="email"]{/*these are properties of form in contact*/
 width: 500px;
 height:35px;
 margin-top: 20px;
 border-radius: 5px;
 padding-left: 10px;
}
.box21 input[type="feedback"]{/*these are properties of form in contact*/
 width: 500px;
 height:100px;
 margin-top: 20px;
 border-radius: 5px;
 padding-left:10px;
}
.box21 input[type="submit"]{/*these are properties of form in contact*/
 width: 200px;
 height: 50px;
 margin-top: 20px;
 cursor: pointer;
 border-radius: 5px;
 margin-right: 39%;
}
.btn {
    margin-left: 35%;
    margin-top:80px;
    color: white; 
    padding: 14px 28px; 
    cursor: pointer;
    border-radius: 10px;
    font-size: 40px;
  }
  .success {background-color: black;
   font-family: 'Gugi', cursive; 
  }
  .success:hover {background-color: green;
 }


a:hover{
  opacity: 0.6;
  
}
marquee{
     background-color: black;
     opacity: 0.8;
     margin-left: 10px;
     width: 100%;
     margin-top:5px;
     height: 40px;  
     overflow: hidden;
     position: relative;
     color: white;
     border: 2.5px #8258FA;
     font-family: 'Gugi', cursive;
     font-size: 25px;
     border-radius: 10px;
}

.foot
{text-decoration: none;
  background-color: black;
  font-size: 20px;
  opacity: 0.7;
  height: 100px; 
  text-align: center;
  margin-top: 150px; 
  margin-left: 5px;
  border-radius: 10px;
  color: white;
  border: 1px white;
  padding-top: 5px;
  padding-bottom:20px;
}

@keyframes slider{/*these are properties of animation in home page*/
0%{
  left: 0;
}
20%{
  left: 0;
}
25%{
  left: -100%;
}
45%{
  left: -100%;
}
50%{
  left: -200%;
}
70%{
  left: -200%;
}
95%{
  left: -400%;
}
100%{
  left: -400%;
}

}
#slider{
  overflow: hidden;
  width: 100%;
}
#slider figure img{
  width: 100%;
  float:left;
}
#slider figure{
  position: relative;
  width: 100%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 5s slider infinite;

}






@media screen and (min-width: 600px){
  .box1{
    height: 80%;
  }
}